.page-layout {
  display: flex;
  flex-direction: column;
  min-height:100vh;

  &__content {
    flex: 1 0 auto;
    padding-bottom: 3rem;
    background: linear-gradient(15deg, #c77210, #ce7d1b, #d58825, #dc932f, #e39e39, #eaa943, #f1b44d, #f8bf57, #ffca61);
  }
}
