.profile {
  padding: 2rem;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: "blur(10px)";
  &__container {
    max-width: 80em;
    margin: 1rem auto;
    padding: 1rem 0;
  }
}
