.bikepark-features {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80em;
  margin: 0 auto;

  &__grid {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
}
