.bikepark-features {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80em;
  margin: 0 auto -5rem auto;
}

.bike {
  &__container {
    display:block;
    width:100vw;
    margin-top:-6rem;
    margin-left:'-90vw';
    animation: rightLeft 4s infinite linear;
  }
}

@keyframes rightLeft {
  from {
    transform: translate(-100%,0);
  }
  to {
    transform: translate(110%, 0);
  }
}
